<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/output.css" />
        <script src="/static/js/index.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <title>{{ .Title }} | Philthy Blog</title>
    </head>
    <body class="h-screen">
        <div id="root" class="min-h-screen">
            {{ template "header.html" . }} {{ template "navmenu.html" . }}
            <main
                class="flex-grow p-4 flex flex-col gap-4"
                style="min-height: calc(100vh - 170px)"
            >
                {{.Content}}
            </main>
            {{ template "overlay.html" . }} {{ template "footer.html" . }}
        </div>
    </body>
</html>
