{{ define "navbar" }}
    <nav class="xl:flex hidden fixed top-[90px] xl:top-0 xl:left-0 w-full border-r z-30 h-full bg-white dark:bg-black dark:border-gray-800 sm:w-[90%] md:w-[80%] lg:w-[65%] xl:w-[20%] xl:max-w-[300px]">
        <ul class="flex flex-col p-2 w-full text-sm gap-2">
            {{ if strEquals .ReqPath "/" }}
                <li class="flex border dark:border-gray-800 rounded bg-gray-200 dark:bg-dracula-background">
                    <a href="/" class="p-4 w-full">Home</a>
                </li>
            {{ else }}
                <li class="flex border dark:border-gray-800 rounded">
                    <a href="/" class="p-4 w-full">Home</a>
                </li>
            {{ end }}
            {{ if strEquals .ReqPath "/posts" }}
            <li class="flex border dark:border-gray-800 rounded bg-gray-200 dark:bg-dracula-background">
                    <a href="/posts" class="p-4 w-full">Posts</a>
                </li>
            {{ else }}
                <li class="flex border dark:border-gray-800 rounded">
                    <a href="/posts" class="p-4 w-full">Posts</a>
                </li>
            {{ end }}
        </ul>
    </nav>
{{ end }}