{{ define "navbar" }}
    <nav class="md:flex fixed top-[90px] w-[300px] border-r z-30 h-full bg-white dark:bg-black dark:border-gray-800 hidden">
        <ul class="flex flex-col p-2 w-full text-sm gap-2">
            {{ if strEquals .ReqPath "/" }}
                <li class="flex border dark:border-gray-800 rounded bg-gray-200 dark:bg-gray-800">
                    <a href="/" class="p-4 w-full">Home</a>
                </li>
            {{ else }}
                <li class="flex border dark:border-gray-800 rounded">
                    <a href="/" class="p-4 w-full">Home</a>
                </li>
            {{ end }}
            {{ if strEquals .ReqPath "/posts" }}
                <li class="flex border dark:border-gray-800 rounded bg-gray-200">
                    <a href="/posts" class="p-4 w-full">Posts</a>
                </li>
            {{ else }}
                <li class="flex border dark:border-gray-800 rounded">
                    <a href="/posts" class="p-4 w-full">Posts</a>
                </li>
            {{ end }}
        </ul>
    </nav>
{{ end }}