<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <link rel="stylesheet" href="/static/css/output.css">
    <custom-scroll></custom-scroll> 
    <script>
        document.documentElement.classList.toggle('dark', localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches))
        window.addEventListener("DOMContentLoaded", () => {
            let sun = document.getElementById("sun");
            let moon = document.getElementById("moon");
            sun.addEventListener("click", () => {
                localStorage.theme = "light";
                document.documentElement.classList.toggle("dark");
            });
            moon.addEventListener("click", () => {
                localStorage.theme = "dark";
                document.documentElement.classList.toggle("dark");
            });
        });
    </script>
    <hash-title-scroll offset='-140'></hash-title-scroll>
    <title>{{ .Title }}</title>
</head>
<body class="h-screen flex flex-col dark:bg-black bg-white custom-scroll text-black dark:text-white">
    <main class="flex-grow relative">
            {{ template "header" . }}
            {{ template "social" . }}
            {{ template "navbar" . }}
            {{ template "overlay" . }}
			{{ template "article" . }}
            <title-links target='#article' offset="-140" link-wrapper-class="flex" link-class="p-4 w-full hover:underline border-l border-gray-200 dark:border-gray-800" class="fixed scrollbar-hidden overflow-y-scroll top-[155px] z-50 right-0 hidden lg:flex text-sm flex-col text-gray-600 dark:text-gray-400 h-full dark:bg-black bg-white hidden w-[20%]"></title-links>
    </main>
    <script src="/static/js/index.js"></script>
</body>
</html>